@{
    Layout = null;
}
@using TicketManagement.UserInterface.Models.ViewModels.UserCabinet
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Local
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var timeZones = TimeZoneInfo.GetSystemTimeZones()
                    .Select(o => new SelectListItem(o.DisplayName,
                        o.Id,
                        o.Id == Model.TimeOffsetId ? true : false));

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

@model UserCabinetNoPasswordViewModel

<div class="card">
    <div class="card-header">
        @Local["Edit"]
    </div>
    <div class="card-body">
        <form method="post" asp-action="EditNoPassword">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name"></label><br />
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Surname"></label><br />
                <input class="form-control" asp-for="Surname" />
                <span asp-validation-for="Surname"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language"></label><br />
                <select class="custom-select" name="Language"
                        asp-items="cultureItems"
                        asp-for="Language"></select>
                <span asp-validation-for="Language"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOffsetId"></label><br />

                <select class="custom-select"
                        asp-for="TimeOffsetId"
                        asp-items="timeZones"></select>
                <span asp-validation-for="TimeOffsetId"></span>
            </div>
            <div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-primary" value="@Local["Save"]" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>