@model string

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request. Tell Izmailovich that if he doesn't fix this, he will be fired! Again.</h2>
        <h2>@Model</h2>
        <h3>@Html.ActionLink("To home", "Index", "Home")</h3>
    </hgroup>
</body>
</html>
